.auth-forget {
  margin: 2rem 6rem;
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(75, 75, 75, 0.15);
  border-radius: 81px;
  padding: 2rem 4rem;
}

.auth-forget__icon {
  width: 30px;
  height: 30px;
  color: var(--primary-color);
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
  }
}

.auth-forget__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 70px;
    height: 70px;
  }

  h2 {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 67px;
    text-align: center;

    color: #49ce91;
  }
  p {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;

    color: #a7a7a7;
  }
  button {
    width: 450px;
    height: 51px;

    background: #49ce91;
    border-radius: 50px;
    border: none;

    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    text-align: center;

    text-decoration: none;

    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border: 1px solid var(--primary-color);
      background: transparent;
      color: var(--primary-color);
      transform: scale(1.04);
    }
  }
}
.auth-forget__form--form-input {
  display: flex;
  flex-direction: row-reverse;
  // width: 100%;
  border: 2px solid #a7a7a7;
  border-radius: 30px;

  margin-bottom: 1.5rem;
  input {
    width: 85%;
    height: 56px;
    padding: 1rem 2rem;

    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    text-align: right;
    color: #a7a7a7;

    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 50px;
  }
  span {
    width: 15%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    // display: block;
    font-size: 25px;
    // position: absolute;
    // left: 5%;
    // bottom: 6%;
    color: var(--secondary-color);
  }
}
