@import "../../../styles/vars";

* {
  @import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
  font-family: 'Cairo', sans-serif;
}

.admin {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.admin__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.main__footer {
  border-top: 1px solid rgba($color: $borderColor, $alpha: .2);
  background-color: transparent;
  padding: 10px;
}

.admin__side-menu {
  background-color: white !important;
  min-height: 100%;

  .slider-logo {
    padding: 14px 15px;
  }
}

.main-content {
  padding-inline: 50px;
  padding-block: 25px;


}



.admin__page-content {
  padding-right: 12px;
}

.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  // background-color: ;
}