@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
:root {
  font-family: 'Cairo', sans-serif;

  --font-base: 'Cairo', sans-serif;
  --primary-color: #49ce91;
  --secondary-color: #a7a7a7;
  --black-color: black;
  --white-color: #fff;
  --gray-color: rgb(223, 223, 223);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  /*For Arabic Website */
  direction: rtl;
}
