.home-page {
  margin: 1rem 0;
}
.home-page__heading {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 75px;
  /* identical to box height */

  text-align: center;
  color: #49ce91;
}
.home-page__title,
.home-page__login-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
  /* identical to box height */

  text-align: center;

  color: #7e7e7e;
}
.home-page__img {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  img {
    width: 100%;
  }
}

.home-page__btn--container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.home-page__btn {
  width: 370px;
  height: 51px;

  border: 1px solid #49ce91;
  background: transparent;
  border-radius: 50px;

  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
  text-align: center;

  text-decoration: none;

  color: #49ce91;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white-color);
    transform: scale(1.04);
  }
}
.home-page__btn--fill {
  width: 370px;
  height: 51px;

  background: #49ce91;
  border-radius: 50px;
  border: none;

  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
  text-align: center;

  text-decoration: none;

  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    transform: scale(1.04);
  }
}
.home-page__footer {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  text-align: center;

  color: #a7a7a7;

  span {
    font-weight: 600;
    color: var(--primary-color);
  }
}
